{% extends "base.html" %}

{% block title %}
Xen Server [{{ servername }}] - VM Ligh administration
{% endblock %}

{% block head %}
<script type="text/javascript">
function refresh(timeoutPeriod) {
    setTimeout("location.reload(true);",timeoutPeriod);
}
window.onload = function(){refresh(30000)}
</script>

{% endblock %}


{% block content %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand" href="#">Xen Server - {{ servername }}</a>
    </div>
  </div>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="bg-info">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}

<h1>List of virtual machines</h1>
  <table class="table" onload="refresh(30000)">
    <thead>
      <tr><th>Name</th><th>@ IP</th><th>Status</th><th># snapshots</th><th>Actions</th></tr>
    </thead>
    <tbody>
      {% for vm in vms %}
        <tr><td>{{ vm.name }}</td><td>{{ vm.ip }}</td>
            <td>
                {% if vm.status == "running" %}
                    <span class="label label-success" >{{ vm.status }}</span>
                {% endif %}
                {% if vm.status == "halted" %}
                    <span class="label label-default" >{{ vm.status }}</span>
                {% endif %}
            </td>
        <td>
            {% if vm.snapshots|count > 0 %}
                <a href="/viewsnap/{{ vm.id }}">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  {{ vm.snapshots|count }}
                </a>
            {% endif %}          
        </td>
        <td>
	<a href="/start/{{ vm.id }}" class="btn btn-success">Start</a>
	<a href="/snap/{{ vm.id }}" class="btn btn-warning">Snapshot</a>
	<a href="/stop/{{ vm.id }}" class="btn btn-danger">Stop</a>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
